.github
.vs

/UkTaxes/env/Include
/UkTaxes/env/Lib
/UkTaxes/env/Scripts

/UkTaxes/UkTaxes/__pycache__
/UkTaxes/UkTaxes/spiders/__pycache__

/UK.Taxes.Scraper/env
/UK.Taxes.Scraper/AmericanExpress/AmericanExpress/__pycache__
/UK.Taxes.Scraper/AmericanExpress/AmericanExpress/spiders/__pycache__
